@import url(./reset.css);

/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Prendre toute la largeur de l'écran */
    max-width: 100%; /* Assurer que la largeur ne dépasse pas 100% */
    background-color: var(--background-color); 
    box-sizing: border-box;
}


li{
    display: inline-block;
}

nav img{
    display: inline-block;
    width: 2rem;
}

nav p{
    display: inline-block;
}

nav li{
    padding: 1rem;
}

nav li:nth-child(4){
    background-color: var(--bouton--background--color-red);
}


/* BOUTONS DE NAVIGATION */
.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.scroll{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    background-color: var(--bouton--background--color-red);
    color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.scroll:hover {
    transform: scale(1.1);
}

/*premier partie de la page*/
.accueille{
    background-image: url(../asset/image_fond.jpg);
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    padding-top: 80px;
    height: calc(100vh - 80px);
    max-width: auto;
    margin: 0; 
}

.accueille h1{
    margin-left: 10rem;
    max-width: 50rem;
    max-height: 15rem;
    font-size: 3rem;
    color: white;

}

/* la deusième partie de la page */

.inscription{
    background-color: var(--background-color);
    height: 100vh;
    }

.inscription figcaption > h1{    
    padding-top: 5rem;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.inscription figcaption p{
    width: 45rem;
    text-align: center;
    margin: 2rem auto 2rem auto;
}

.inscription figcaption{
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
}

.inscription form{
    border: solid black .2rem;
    padding: .5rem;
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

label, input{
    display: block;
    width: 100%;
}

input{
    border: none;
    padding: 1rem;
    width: 50rem;
}

form button{
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* dernière partie de la page*/

.connection{
    background-color: var(--background-color);
    height: 100vh;

    }

.connection figcaption > h1{    
    padding-top: 5rem;
}

.connection figcaption{
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
}

.connection form{
    border: solid black .2rem;
    padding: .5rem;
}
