@import url(./reset.css);

:root{
    --text-color : rgb(0, 0, 0);
    --background-color : rgb(255, 255, 255);
    --background-color-oppacite : rgba(255, 255, 255,.5);
    --bouton--background--color-red : rgb(255, 0, 0);
}

/*header*/


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Prendre toute la largeur de l'écran */
    max-width: 100%; /* Assurer que la largeur ne dépasse pas 100% */
    background-color: var(--background-color); 
    box-sizing: border-box;
}

nav{
    display: inline-block;
}

header nav img{
    align-items: center;
    max-width: 2rem;
}

a:nth-child(4){
    width: 100%;
    background-color: var(--bouton--background--color-red);
}


/*premier partie de la page*/
.accueille{
        background-image: url(../asset/email_fond.jpg);
        background-size: cover; 
        background-position: center 20%; 
        background-repeat: no-repeat; 
        padding-top: 80px; 
        height: calc(100vh - 80px);
        max-width: auto;
        margin: 0; 
}

.accueille h1{
    background-color: var(--background-color-oppacite);
    margin-left: 10rem;
    max-width: 50rem;
    max-height: 15rem;
    font-size: 3rem;
}

/* la deusième partie de la page */

.inscription{
    background-color: var(--background-color);
    height: 100vh;
    }

.inscription figcaption > h1{    
    padding-top: 5rem;
}

.inscription figcaption{
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
}

.inscription form{
    border: solid black .2rem;
    padding: .5rem;
}

label, input{

    display: block;
    width: 100%;
}

form button{
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* dernière partie de la page*/