html {
    font-size: 62.5%;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    font: 1.6rem "Open-Sans",sans-serif; 
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: #333;
    letter-spacing: .1rem;
    min-height: 100svh;
    overflow: hidden;
}

header{
    text-align: right;
    margin: 0;
    padding: 0;
}

a, h1, h2, p, img, section{
    margin : 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

:root{
    --text-color : rgb(0, 0, 0);
    --background-color : #fafafa;
    --background-color-oppacite : rgba(255, 255, 255, 0.5);
    --bouton--background--color-red : #dd5347;
}